/* 컬러별 btn */

.btn-navy {
  transition: all 0.3s;
  /* width: 50%; */
  padding: 0.75rem;
  background-color: #133e87;
  color: white;
  border: 1px solid #133e87;
  border-radius: 5px;
  cursor: pointer;
}

.btn-navy:hover {
  background-color: #0d2e5f;
  border-color: #0d2e5f;
  color: white;
}

.btn--outline-navy {
  transition: all 0.3s;
  /* width: 50%; */
  padding: 0.75rem;
  background-color: white;
  color: #133e87;
  border: 1px solid #133e87;
  border-radius: 5px;
  cursor: pointer;
}

.btn--outline-navy:hover {
  background-color: #133e87;
  border-color: #133e87;
  color: white;
}

.btn-gray {
  transition: all 0.3s;
  /* width: 50%; */
  padding: 0.75rem;
  background-color: #bebebe;
  color: white;
  border: 1px solid #bebebe;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 1rem 0; */
}

.btn-gray:hover {
  background-color: #999999;
  border-color: #999999;
  color: white;
}

.btn-point-orange {
  transition: all 0.3s;
  /* width: 50%; */
  padding: 0.75rem;
  background-color: #ffddae;
  color: black;
  border: 1px solid #ffddae;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 1rem 0; */
}

.btn-point-orange:hover {
  background-color: #ffc069;
  border-color: #ffc069;
  color: black;
}

.btn-point-blue {
  transition: all 0.3s;
  /* width: 50%; */
  padding: 0.75rem;
  background-color: #c6e7ff;
  color: black;
  border: 1px solid #c6e7ff;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 1rem 0; */
}

.btn-point-blue:hover {
  background-color: #94d2ff;
  border-color: #94d2ff;
  color: black;
}

/* background-color */
.bg-week {
  background-color: #f1f2f4;
  color: #737d91;
}

.bg-red {
  background-color: #ff6d6d;
  color: #ffecec;
}

.bg-orange {
  background-color: #ffc456;
  color: #fff0e1;
}

.bg-green {
  background-color: #1bca94;
  color: #d1f6ec;
}

.bg-blue {
  background-color: #94d2ff;
  color: #737d91;
}

.bg-navy {
  background-color: #133e87;
  color: white;
}

/* 리뷰, 질문, 답변 게시판 버튼  */
.submit-btn {
  background: #c6e7ff;
  color: #2c3e50;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.submit-btn i {
  font-size: 1.1rem;
}

.submit-btn:hover {
  opacity: 0.9;
}
