<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.FileDao">
	<insert id="addFile" parameterType="FileDto"
		useGeneratedKeys="true" keyProperty="fileId">
		INSERT INTO files (
		file_id, file_case, file_name, extension, user_id
		) VALUES (
		#{fileId}, #{fileCase}, #{fileName}, #{extension}, #{userId}
		)
	</insert>

</mapper>