<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.ProgramDao">
	<insert id="insertProgram" parameterType="Program"
		useGeneratedKeys="true" keyProperty="programId">
		INSERT INTO program (
		user_id, title, description, duration_weeks, level
		) VALUES (
		#{userId}, #{title}, #{description}, #{durationWeeks}, #{level}
		)
	</insert>

	<insert id="insertVideoIfNotExists" parameterType="String">
		INSERT IGNORE INTO video (video_id)
		VALUES (#{videoId})
	</insert>

	<insert id="insertProgramVideo">
		INSERT INTO program_video (program_id, video_id)
		VALUES (#{programId}, #{videoId})
	</insert>
	
	<!-- 단일 프로그램 조회 -->
<select id="selectByProgramId" parameterType="int" resultType="com.ssafy.ssafit.model.dto.Program">
    SELECT *
    FROM program
    WHERE program_id = #{programId}
</select>

<!-- 전체 프로그램 조회 -->
<select id="selectAllPrograms" resultType="com.ssafy.ssafit.model.dto.Program">
    SELECT *
    FROM program
    ORDER BY created_at DESC
</select>

<!-- 사용자별 프로그램 조회 -->
<select id="selectByUserId" parameterType="int" resultType="com.ssafy.ssafit.model.dto.Program">
    SELECT *
    FROM program
    WHERE user_id = #{userId}
    ORDER BY created_at DESC
</select>
</mapper>