<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.TodoDao">

	<select id="selectAllTodo" resultType="Todo">
		SELECT *
		FROM todo
		WHERE
		date = #{date} AND user_id=#{userId};
	</select>

	<insert id="insertTodo" parameterType="Todo"
		keyProperty="todoId" useGeneratedKeys="true">
		INSERT INTO todo (user_id, date,
		content,program_id,video_id )
		VALUES(#{userId}, #{date},
		#{content},#{programId},#{videoId});
	</insert>

	<delete id="deleteTodo" parameterType="int">
		DELETE FROM todo
		WHERE
		todo_id=#{todoId} AND user_id=#{userId};
	</delete>

	<!-- 투두 내용 수정하기 -->
	<update id="updateTodoContent" parameterType="Todo">
		UPDATE todo
		SET
		content=#{content}, date=#{date}
		WHERE todo_id = #{todoId}
	</update>

	<!-- 투두 상태 변경하기 -->
	<update id="updateTodoStatus">
		UPDATE todo
		SET status = #{status}
		WHERE todo_id =
		#{todoId}
	</update>

	<!-- 투두 좋아요 초기 상태 불러오기 -->
	<select id="checkTodoLikeExists" resultType="int"
		parameterType="int">
		SELECT COUNT(*)
		FROM todo_likes
		WHERE todo_id = #{todoId}
		AND user_id = #{userId}
	</select>

	<!-- 투두 좋아요 누르기 -->
	<insert id="insertTodoLikes" parameterType="int">
		INSERT INTO
		todo_likes (todo_id,
		user_id)
		VALUES (#{todoId}, #{userId})
	</insert>

	<!-- 투두 좋아요 취소하기 -->
	<delete id="deleteTodoLikes" parameterType="int">
		DELETE FROM
		todo_likes
		WHERE todo_id=#{todoId} AND user_id=#{userId};
	</delete>

	<select id="countUncompletedTodos" resultType="int">
		SELECT COUNT(*)
		FROM todo
		WHERE program_id = #{programId}
		AND user_id = #{userId}
		AND
		status = false
	</select>


	<select id="getTodoLikeCount" parameterType="int"
		resultType="int">
		SELECT COUNT(*)
		FROM todo_likes
		WHERE todo_id = #{todoId}
	</select>
</mapper>